﻿body
{
    background-color: #ffffff;
}

#Chart
{
    width:620px;
    overflow:auto;
    margin-left: 20px;
    margin-right: 20px;
}

#ChartArea
{
    width:87400px
}

.JobName
{
    width: 300px;
}

.FloatLeft
{
    float:left;
}

.JobMargin
{
    margin-bottom: 2px;
}

.CheckboxMargin
{
    padding: 6px;
    margin: 0px
}


.MainDuration
{
    float:left;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

/*--Status Styles--*/

.Nonactive
{
    background:White;
}  

.Failed
{
    background:Red;
}  

.Failed:hover
{
    outline: red solid thick;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
}  

. Complete
{
    background: Green;
}  

.Waiting .Processing
{
    background: Orange;
}

.Creating .Disabled
{
    background: Grey;
}


