﻿ul#topnav li .sub {
	 display: none; /*--Hidden for those with js turned off--*/
	position:relative;
	width:420px;
	height:185px;
	z-index:99999;
    background:#eee;
	border-top:0px;
	top:-1px;
	padding:0 0px; margin:0px;
	border-right:1px solid #d1d1d1;
	border-left:1px solid #d1d1d1;
	border-bottom:1px solid #d1d1d1;
}

ul#topnav h1
{
    color:#999;
    font-size: 16px;
    padding:0px;
    margin:0px;
    margin-left: 6px;
}

/*--Exception in size for specific submenu --*/
ul#topnav li .sub.defaults
{
    height:520px;
}


ul#topnav li .sub ul img
{
    padding:0px !important;
	float: left;
}
 
ul#topnav li .sub ul{
	list-style: none;
	float:left !important;
	margin: 0 !important; padding: 0 !important;
	width: 200px;
	display:block;
	font-size:8px;
    color:#999;
}

ul#topnav li .sub ul li
{
    list-style-type:none;
    display:block;
    margin:6px 0px 0px 12px !important; padding:0px !important;

}

ul#topnav li .sub ul li .block
{
    width: 200px !important;
	height:40px !important;
}

ul#topnav li .sub ul li a
{
    list-style-type:none;
    display:block;
    margin:0 !important; padding:0px 0px !important;
    width: 200px !important;
	height:40px !important;
}

ul#topnav li .sub ul li a:hover
{
    background:#d9dfec;
}

.subtext
{
    padding-top:6px;
    float:left;
}

.subtextdescription
{
    float:left;
    font-size:10px;
    color:#999;
    width: 150px;
}
    

.filter
{
    clear:left;
}

.rowA
{
    margin-top:8px;
    width:160px;
    height: 12px;
    text-align:right;
    float:left;
}

.rightFloat
{
    float:right;
}

.rowA p
{
    padding: 5px;
    margin: 0px;
    
}

.rowB
{
    margin-top:8px;
    width:280px;
    margin-left:20px;
    float:left;
}

.rowC
{
    margin-top:8px;
    width:280px;
    margin-left:105px;
    text-align:center;
    float:left;
}
