﻿*{
    padding:0;
    margin:0;
}

body 
{
    background:#FFF ;
    font-family:Arial, Verdana, Sans-Serif;
    font-size:14px;
}

img
{
    border:0px;
    float:left;
}

a:hover
{
    text-decoration:none;
}

a
{

    color:#000;
    border:0px;
    text-decoration:none;
}

#main
{
    width:100%;
    padding: 0px;
    float: left;
    margin: 0px;
}

#header
{
    height:131px;
}

#header .MiddlewareJobStatus
{
    width:30px;
    height:30px;
    float:left;
    position:relative;
    left:-30px;
    top:26px;
    text-align:center;
    padding-top:7px;
    color:#fff;
    font-weight:bold; 
    background:url(../Images/AlertGreen.png) no-repeat;
    display:none;
}

#header img.MiddlewareLogo
{
    margin-left:36px;
    margin-top:36px;
    display:none;
    float:left;
}

#header img.MiddlewareLogoText
{
    margin-left:20px;
    margin-top:48px;
    float:left;
}

#header .dates p
{
    margin-bottom:6px;
    margin-right:42px;
}

#header .dates
{
    float:right;
    color:#000;
    text-align:right;
    height:80px;
    margin-right:20px;
    margin-top:41px;
}

#header .dates img
{
    display:none;
    padding-top:2px;
    padding-left:98px;
}

#content
{
    float:left;
    width:100%;
}

#content ul#topnav
{
    background:url(../Images/MenuBackground.png) no-repeat 20px 0;  
    height:31px;
    list-style-type:none;
    float:left;
    width:100%;
    display:none;
    margin:0px;
}

#content ul#topnav li a
{
    display:block;
    width:150px;
    height:26px;
    padding:6px 6px 0px 0px;
}

#content ul#topnav li a img
{
    margin-right:6px;
    margin-left:4px;
}

#content ul#topnav li
{
    list-style-type:none;
    float:left;
    display:block;
    width:120px;
    height:31px;
    margin-left:40px;
}

#footer
{
    /* background:url(../Images/BackgroundBottom.png) no-repeat; */
    height:44px;
}

ul#topnav li a:hover
{
    background: #eee;

}

#pagesummary
{
    width:478px;
    float:left;
    height:150px;
    margin-top:14px;
    margin-left:18px;
    padding:8px 8px;
    background:url(../Images/Summary.png) no-repeat;
    display:none;
}

#pageactions
{
    width:478px;
    float:left;
    height:150px;
    margin-top:14px;
    margin-left:18px;
    padding:8px 8px;
    background:url(../Images/Summary.png) no-repeat;
    display:none;

}

#pagesummary h1
{
    margin-left:12px;
    margin-top:8px;
    color:#000;
    font-weight:100;
    float:left;
}

#pagesummary img.arrows
{
    margin-left:6px;
    margin-top:8px;
}

.glassbutton
{
    float:left;
    width:206px;
    margin-left:12px;
    height:59px;
    margin-top:0px;
    margin-bottom:4px;
    margin-right:12px;
    padding:0px;
    background:url(../Images/ButtonNormal.png) no-repeat;
}

.glassbuttonedit
{
    margin-right: -4px;
}
 
a.glassbutton:hover
{
    background-position: left -59px;
}

.glassbutton img
{
    padding-top:10px;
    padding-left:10px;
}
.glassbutton p
{
    padding-top:10px;
    padding-left:50px;
}

#listing
{
    padding: 12px 43px 12px 20px;
    /* padding:12px 20px 12px 20px; */
}

.summaryon
{
    display:none; 
}

#summaryoff
{
    width:966px;
    margin:0px 20px 0px 20px;
    padding:12px 10px 0px 10px;
    float:left;
    background:#fff;
}

#summaryoff h1
{
    color:#000;
    padding:0px;
    margin:0px;
    float:left;
    width:300px;
}

#summaryoff .toggle
{
    float:right;
    margin:0px;
    padding:0px;
    display:none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}


.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;

	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #000;
	background-color: white;

}

.dataTables_length {
	/*width: 472px;*/
	background:#eee;
    padding:10px;
    color: #000;
	float: left;
}

.dataTables_filter {
	/*width: 472px; */
	background:#eee;
    padding:10px;
	color: #000;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	margin-top:6px;
	margin-left:6px;
	color: #000;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

.GridCentre
{
    text-align:left;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}



/* 
	Grey Suits you Sir. Please host the images on your own server.
	written by Stuart Colville http://www.muffinresearch.co.uk
*/

table,td
{
	border               : 1px solid #eee;
	border-collapse      : collapse;
  font                 : small/1.5 "Arial", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}
table
{
	border                :1px solid #eee;
	/* float:left; */
    width:100%;
}
thead th,
tbody th
{
	background            : #FFF url(../images/th_bck.gif) repeat-x;
  color                 : #000;  
	padding               : 5px 10px;
	font-weight: 100;
  border-left           : 1px solid #eee;
}
tbody th
{
  background            : #fafafb;
  border-top            : 1px solid #eee;
  text-align            : left;
}
tbody tr td
{
	padding               : 5px 10px;
  color                 : #000;
}
tbody tr:hover
{
  background            : #FFF url(../images/tr_bck.gif) repeat;
}

tbody tr:hover td
{
  color                 : #000;
}
tfoot td,
tfoot th
{
  border-left           : none;
  border-top            : 1px solid #CCC;
	padding               : 4px;
  background            : #FFF url(../images/foot_bck.gif) repeat;
  color                 : #666;
}
caption
{
	text-align            : left;
	font-weight           : 100;
	padding               : 10px 0;
	color                 : #666;
}
table a:link
{
	color                 : #000;
}
table a:visited
{
	color                 : #000;
}
table a:hover
{
	color                 : #000;
	text-decoration       : none;
}
table a:active
{
	color                 : #000;
}

.buttontext
{
    float:left;
    margin-left:12px;
    margin-top:20px;
}

.buttonAlignRight
{
    float:right;
    padding-left: 10px;
}

.buttonAlignLeft
{
   float:left;
}

/*---Edit form----*/

.validationSummary
{
    clear: both;
    margin: 4px;    
}
.validationHeader
{
    font-weight:bold;
    margin-bottom: 2px;
}

.addEntryForm
{  
}

.labelInput
{
   float: left;
   text-align: left;
}

.formRow
{
   clear: both;
   float: left;
   width: 100%;
}

.formRowNoClear
{
    float: left;
}

.formMargin
{
    margin: 8px;
}
.margin
{
    margin: 3px,  3px, 3px, 0px;
    text-align: center;
}


.checkboxLayout
{
    padding: 7px 0px 0px 6px;
    margin: 0;
}

.break
{
    clear:both;
}



.sorting_asc{ display:none;} 
.sorting_1 { display:none;visibility:collapse}


