﻿

body 
{
    background:#999; 
    font-family:Arial, Verdana, Sans-Serif;
    font-size:14px;
    /*-- removed as default is now set via javascript file changeBackground.js
    background-image:url(../images/backgrounds/woodfloor.jpg);--*/
}

img
{
    border:0px;
    float:left;
}

/*--sets font for multiline textboxes--*/
textArea
{
   font-family:Arial, Verdana, Sans-Serif; 
}

a:hover
{
    text-decoration:none;
}

a
{
    font-size:14px;
    color:#000;
    border-style:solid;
    border:0px;
    text-decoration:none;
}

p a:hover
{
    text-decoration:underline;
}
p a
{
    color:Blue !important;
}

.TimeMargin
{
    margin-top: 1px;
    float:left;
 
}

#main
{
    width:1024px;
    padding:0;
    margin:30px auto;
}

#header
{
    background:url(../Images/BackgroundTop.png) no-repeat;
    height:131px;
}

#header .MiddlewareJobStatus
{
    width:30px;
    height:30px;
    float:left;
    position:relative;
    left:-30px;
    top:26px;
    text-align:center;
    padding-top:7px;
    color:#fff;
    font-weight:bold; 
    /*background:url(../Images/AlertGreen.png) no-repeat; */
    background-repeat:no-repeat;
}

.MiddlewareDashboardStatus
{
   width:30px;
   height:30px;
   float:left;
   text-align:center;
   color:#fff;
   background-repeat:no-repeat;
   margin-right: 10px;
}

.DashboardStatusMargin
{
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.DashboardStatusMargin a
{
    color:Blue !important;
    text-decoration:underline;
}

/*--status text alignment--*/
.MiddlewareStatus
{
      margin-top: 2px;
      font-weight: bold;
     
}

.MiddlewareStatusText
{
   float:left;
   text-align:center;
   margin-left: 8px;
   font-weight: bold;
}

#header img.MiddlewareLogo
{
    margin-left:36px;
    margin-top:36px;
    float:left;
}

#header img.MiddlewareLogoText
{
    margin-left:-20px;
    margin-top:48px;
    float:left;
}

#header .dates p
{
    padding-bottom:6px;
}

#header .dates
{
    float:right;
    width:200px;
    color:#7e7e7e;
    text-align:right;
    height:80px;
    margin-right:20px;
    margin-top:41px;
}

#header .dates img
{
    padding-top:2px;
    padding-left:98px;
}

#content
{
    float:left;
    background:url(../Images/BackgroundMiddle.png) repeat-y; 
}

#content ul#topnav
{
    background:url(../Images/MenuBackground.png) no-repeat 20px 0;  
    height:31px;
    list-style-type:none;
    float:left;
    width:1024px;
    display:block;
    margin:0px;
    padding-left: 25px;
}

#content ul#topnav li a
{
    display:block;
    width:150px;
    height:26px;
    padding:6px 6px 0px 0px;
}

#content ul#topnav li a img
{
    float:left;
    margin-right:6px;
    margin-left:4px;
}

#content ul#topnav li 
{
    list-style-type:none;
    float:left;
    display:block;
    margin-left:40px;
    width:120px;
}


#content ul#topnav li .topLinks
{
    width:120px;
    height:31px;
}

#footer
{
    background:url(../Images/BackgroundBottom.png) no-repeat;
    height:44px;
}


ul#topnav li a:hover
{
    background: #eee;

}

#pagesummary
{
    width:478px;
    float:left;
    height:150px;
    margin-top:14px;
    margin-left:18px;
    padding:8px 8px;
    background:url(../Images/Summary.png) no-repeat;
}

#pageactions
{
    width:478px;
    float:left;
    height:150px;
    margin-top:14px;
    margin-left:18px;
    padding:8px 8px;
    background:url(../Images/Summary.png) no-repeat;

}

#pagesummary h1
{
    margin-left:12px;
    margin-top:8px;
    color:#4b4b4b;
    font-weight:100;
    font-size:24px;
    float:left;
}

#pagesummary img.arrows
{
    margin-left:6px;
    margin-top:8px;
}

.glassbutton
{
    float:left;
    width:206px;
    height:59px;
    margin-left:12px;
    margin-top:0px;
    margin-bottom:4px;
    margin-right:12px;
    padding:0px;
    background:url(../Images/ButtonNormal.png) no-repeat;
}

.glassbuttonedit
{
    margin-right: -4px;
}
 
a.glassbutton:hover
{
    background-position: left -59px;
}

.glassbutton img
{
    padding-top:10px;
    padding-left:10px;
}
.glassbutton p
{
    padding-top:10px;
    margin-top: 10px;
    padding-left:50px;
}

#listing
{
    padding: 12px 43px 12px 20px;
}

.summaryon
{
    display:none; 
}

#summaryoff
{
    width:966px;
    margin:0px 20px 0px 20px;
    padding:12px 10px 2px 10px;
    float:left;
    background:#eee;
}

#summaryoff h1
{
    font-size:14px;
    color:#999;
    padding:0px;
    margin:0px;
    float:left;
    width:400px;
}

#summaryoff .toggle
{
    float:right;
    margin:0px;
    padding:0px;
}

/*--Edit Page styles--*/

#leftContents
{
    width:450px;
    float:left;
    /* height:150px; */
    margin-top:7px;
    margin-left:18px;
    padding:4px 8px;
    background:#fff;
}

#rightContents
{
    width:470px;
    float:left;
    /* height:150px; */
    margin-top:7px;
    margin-left:18px;
    padding:4px 8px;
    background:#fff;

}

#submitContents
{
    width:964px;
    float:left;
    margin-top:5px;
    margin-left:18px;
    padding:4px 8px;
}

#editHeader
{
    width:964px;
    margin:0px 20px 0px 20px;
    padding:12px 10px 12px 15px;
    float:left;
    background:#eee;
}

#editHeader h1
{
    font-size:14px;
    color:#999;
    margin:0px;
    float:left;
    width:300px;
}

/*--Operation Page styles */

#contents
{
    width:990px;
    float:left;
    /*
    margin-top:7px;
    margin-left:18px;
    padding:4px 8px;
*/
   /* background:#fff;  */
}

#contents h1
{
    font-size:14px;
    color:#999;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}


.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;

	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;

}

.dataTables_length 
{
	background:#eee;
    padding:10px;
	float: left;
}

.dataTables_filter 
{
   /* width: 964px;
    /*width ensures filter bar aligns with header section*/
	background:#eee;
	padding:10px;
	color:#aaa;
	text-align: right;
}

.dataTables_info 
{
	width: 60%;
	margin-top:6px;
	margin-left:6px;
	color:#7e7e7e;
	clear: both;
	float: left;
	
}

.dataTables_paginate 
{
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

.GridCentre
{
    text-align:center;
}

.imgStatus
{
    float: none;
}


/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}



/* 
	Grey Suits you Sir. Please host the images on your own server.
	written by Stuart Colville http://www.muffinresearch.co.uk
*/

.progressIndicator
{
    height:18px;
    width: 100px;
    text-align: center;
    position:absolute; 
    left: 50%;
    top:40%;
    background-color: #ffffff;
    color:#000;
    border: 1px solid #eee;
    margin: 4px;
    
}


table,td
{
	border               : 1px solid #eee;
	border-collapse      : collapse;
    font                 : small/1.5 "Arial", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}
table
{
	border                :1px solid #eee;
	float:left;
}
thead th,
tbody th
{
	background: #FFF url(../images/th_bck.gif) repeat-x;
    color: #000;  
	padding: 5px 10px;
	font-size: 12px;
	font-weight: 100;
    border-left: 1px solid #eee;
}
tbody th
{
  background            : #fafafb;
  border-top            : 1px solid #eee;
  text-align            : left;
}
tbody tr td
{
	padding               : 5px 10px;
    color                 : #666;
}
tbody tr:hover
{
  background            : #FFF url(../images/tr_bck.gif) repeat;
}

tbody tr:hover td
{
  color                 : #454545;
}
tfoot td,
tfoot th
{
  border-left           : none;
  border-top            : 1px solid #CCC;
  padding               : 4px;
  background            : #FFF url(../images/foot_bck.gif) repeat;
  color                 : #666;
}
caption
{
	text-align            : left;
	font-weight           : 100;
	padding               : 10px 0;
	color                 : #666;
}
table a:link
{
	color                 : #666;
}
table a:visited
{
	color                 : #666;
}
table a:hover
{
	color                 : #003366;
	text-decoration       : none;
}
table a:active
{
	color                 : #003366;
}

.buttontext
{
    float:left;
    margin-left:12px;
    margin-top:20px;
}

.buttonAlignRight
{
    float:right;
    padding-left: 10px;
}

.buttonAlignLeft
{
   float:left;
}

.buttonDisabled
{
   color:#999;
}

a.buttonDisabled:hover
{
   /*--do nothing--*/
}

/*---Edit form----*/

.validationSummary
{
    clear: both;
    margin: 4px;    
}
.validationHeader
{
    font-weight:bold;
    margin-bottom: 2px;
}

.addEntryForm
{  
}

.labelInput
{
   float: left;
   text-align: left;
}

.formRow
{
   clear: both;
   float: left;
   width: 100%;
}

.formRowNoClear
{
    float: left;
}

.formMargin
{
    margin: 8px;
}

.dashboardMargin
{
    margin: 2px;
}

.labelMargin
{
    margin-top:10px;
}

.margin
{
    margin: 3px,  3px, 3px, 0px;
    text-align: center;
}


.checkboxLayout
{
    padding: 7px 0px 0px 6px;
    margin: 0;
}

.break
{
    clear:both;
}
/*--Batches--*/

.Batchheader
{
    width:100%;
    float:left;
}

.Batchicon
{
    margin-right:12px;
    width:83px;
    float:left;
}

.BatchSummaryHeader
{
    width:858px;
    float:left;
}

.BatchSummaryHeader h1
{
    font-size:14px;
    color:#999;
    
} 
.BatchDetails
{
    float:left;
}

.entry
{
    float:left;
    width:140px;
}

.filters
{
    margin: 10px;
}


/*--Accordion & Dashboard---*/

#accordion
{
    width: 100%;
}

.displayBox
{
float: left;
height: 210px;
width: 440px;
overflow: auto;
border: 1px solid #eee;
background-color: #FFFFFF;
padding-top: 0px;
}

.displayBoxEnd
{
margin-right:0px;
padding-right:0px;
}

.displayMargin
{
    margin-right: 21px;
}

.displayBox li
{
   background-image: url("../images/JobStatus/failed.png");
   background-repeat: no-repeat;
   background-position: 0 .1em;
   padding-left: 20px; 
   padding-bottom: 1px;
   padding-top: 1px;
}

.displayRun li
{
  background-image: url("../images/JobStatus/running.png");
}

.displayBox ul
{
 list-style-type: none;
 padding: 0px;
 margin-top: 0px;
 margin-left: 10px;

}

.displayBox ul a
{
    font-size: 14px;
}

.displayBoxHeader
{
 float:left;
}

.graph
{
   margin: 10px;
   float:left;
}
.graphInput
{
   float:left;
   margin: 15px;
   margin-left: 60px;
}

.graphArea
{
    float:left;
}

.align
{
    margin-left: 0px;
}

.queryFormRow
{
   clear: both;
   float: left
}

#imageGallery
{
    margin: 1px;
    
}

.thumb
{
    margin: 3px;
}

.boldLabel
{
    font-weight:bold;
}

/*Publication to BU filters*/

.filterButton
{
    float:right;
}

.outerFilter
{
    margin: 7px;
    width: 980px;
    display: none;
}

.innerFilter
{
    margin: 2px;
}
.filterSubmit
{
    margin-top: 4px;
    margin-left: 5px;
}

tr.pageIndex
{
    border:none;
}

tr.pageIndex:Hover, tr.pageIndex tr:Hover
{
    background:none;
}

tr.pageIndex tr td.span
{
    background:#eee;
}


tr.pageIndex tr td
{
    border:none;
    float:left;
}

tr.pageIndex tr td:Hover
{
    background:#ccc;
}

/*----tooltip centre---*/

.tooltipCentre
{
    text-align: center;
}

/*---Atom menu styles----*/

ul#topnav li .sub.atomDefaults
{
    height:140px;
}
ul#topnav li .sub.atomConfig
{
    height:150px;
}

ul#topnav li .sub.atomOperation
{
    height:150px;
}

.IgnoreLabel
{
float: left;
}

.IgnoreText
{
    font-size:12px;
    margin:4px;
}

.asopHeaderLabel
{
    font-size:14px;
    color:#999;
    margin:0px;
    float:left;
    width:400px;
    font-weight: bold;
}

.disabledRow
{
    color:#999;
}

/*---Pages.Maintenance.DataQueryPage---*/
.cmdGo
{
 float:right;   
 margin-right: 155px;
 margin-top: 5px;
}

/*--Configuration Grouped Layout--*/

.Environment
{
    float:left;
    width: 300px;
}

 .Labels
{
    width: 390px;
}

.Environment h1
{
    text-align:center;
    margin-left: 40px;
}

.rightHeader h1
{
    margin-right: 65px;
}


#DetailsGrouped
{
    height: 330px;
}

/*--Run Jobs---*/

#RunningJobDetails
{
  /*--display: none;  ---*/  
}

.RunJobsFilter
{
  float:left;
  margin:  30px 150px 20px 100px;
  width: 40px;  
}

.RubSingleJobMargin
{
   margin: 10px 10px 10px 26px; 
}

.RunSingleJobBtn
{
   float:left;
   margin:  10px 20px 20px 180px;
   width: 227px;
}

.dvRunningJobs
{
   float:left;
   width: 200px;
   height: 100px;
   margin: 10px 100px 50px 200px;   
}


.BatchLabel
{
    margin: 10px 20px 10px 20px;  
     
}   

.dgrSinglJobBatchDetails
{
    float:left;
    margin: 10px 0px 10px 0px;  
    
}

.BatchMargin
{
    margin: 5px;
}

#stackTrace
{
    width: 500px;
}

.disableButton
{
    background: url(../Images/off.png) no-repeat;
    border: none;
}

.enableButton
{
    background: url(../Images/on.png) no-repeat;
    border: none;
}

.FixedWidthTable 
{
    width: 100%;
}

.disableText 
{
    color: Gray;
}