﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Edit.master" AutoEventWireup="true" Inherits="Pages.Configuration.Processes.ProcessTypeDetails" Codebehind="ProcessTypeDetails.aspx.cs" %>
<%@ Register TagPrefix="uc" TagName="CommonButtons" Src="~/UserControls/CommonEdit.ascx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitle" Runat="Server">
<div class="buttonAlignLeft">
    <h1>Middleware Process Types</h1>
</div>
<div class="validationSummary">
    <asp:ValidationSummary ID="vdsProcessTypes" runat="server" DisplayMode="BulletList" HeaderText="<div class='validationHeader'>Please make the following changes:</div>" />
 </div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="leftForm" Runat="Server">
<div class="addEntryForm">

     <div class="formRow">
               <asp:Label ID="lblProcessTypeEnter" CssClass="formMargin labelInput" runat="server" Text="Process Type:" Width="100px"/>
               <asp:TextBox ID="txtProcessType" CssClass="formMargin" runat="server" ToolTip="Type of Process" MaxLength="50" Width="250"/>
        <asp:RequiredFieldValidator ID="rfvProcessType" runat="server"  ControlToValidate="txtProcessType" ErrorMessage="Process Type Required">
        *
        </asp:RequiredFieldValidator>
     </div>

</div>
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="rightForm" Runat="Server">
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="submitButtons" Runat="Server">
     <uc:CommonButtons ID="CommonButtons" runat="server" EntityName="Process" EntityURL="ProcessTypes.aspx" ConnectionString="MiddlewareSystem" deleteSPName="ProcessType" deleteParameter="ProcessType"/>
</asp:Content>

