﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="UserControls.UserControls_CommonSummary" Codebehind="CommonSummary.ascx.cs" %>
<h1><asp:Literal ID="litTitle" runat="server"></asp:Literal></h1><asp:Image CssClass="arrows" ID="imgArrows" runat="server" AlternateText="arrows" ImageUrl="~/Images/Arrows.png" />
<asp:LinkButton ID="lnkAdd" Text="" CssClass="glassbutton" runat="server" onclick="addEntity_Click"><asp:Image ImageUrl="~/Images/AddIcon.png" AlternateText="Add" runat="server"/><p>Add new <asp:Literal ID="litAddEntity" runat="server"></asp:Literal></p></asp:LinkButton>