﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="UserControls.UserControls_CommonActions" Codebehind="CommonActions.ascx.cs" %>
    <asp:LinkButton ID="lnkEnable" CssClass="glassbutton" runat="server" ><asp:Image ImageUrl="~/images/EnableIcon.png" runat="server" AlternateText="Enable" onClick="return false;"/><span runat="server" id="EnableP"><p>Enable <asp:Literal ID="litEnableTextEntityName" runat="server"></asp:Literal></p></span></asp:LinkButton>
    <asp:LinkButton ID="lnkDisable" CssClass="glassbutton" runat="server"><asp:Image ImageUrl="~/images/DisableIcon.png" runat="server" AlternateText="Disable"  onClick="return false;"/><span runat="server" id="DisableP"><p>Disable <asp:Literal ID="litDisableEntityName" runat="server"></asp:Literal></p></span></asp:LinkButton>
    <asp:LinkButton ID="lnkPrint" CssClass="glassbutton lnkPrint" runat="server" ClientIDMode="Static" OnClick="lnkPrint_Click"><asp:Image ImageUrl="~/images/PrintIcon.png" runat="server" AlternateText="Print"/><p>Print <asp:Literal ID="litPrintEntityName" runat="server"></asp:Literal></p></asp:LinkButton>
    <asp:LinkButton ID="lnkEmail" CssClass="glassbutton" runat="server"><asp:Image ImageUrl="~/images/EmailIcon.png" runat="server" AlternateText="Email"/><p>Email <asp:Literal ID="litEmailEntityName" runat="server"></asp:Literal></p></asp:LinkButton>
    <asp:Label class="break" ID="lblMessage" runat="server" />